{#{% apply spaceless %}#}
<div id="viewClubModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title club-modal-name" >Tile</h4>
            </div>



            <div class="modal-body clubModalContent">
                <div class="ajax-loader" style="top: 40px; display: none"></div>
                <div class="clubInfo" >
                    <div class="modal-club-cover" style="background-image: url('https://thechatapp.s3.us-west-2.amazonaws.com/clubs/HDgRnm0ylYQNMZQP.jpeg')">
                        <div class="modal-club-owner">
                            <a href="#" class="gender">
                            </a>
                        </div>
                        <div class="modal-club-owner-name">Host Name</div>
                    </div>
                    <div class="modal-club-description">
                        The description text
                    </div>

                    <div class="modal-club-member" style="position: relative;">

                        <div class="head">
                            <b>Members</b>
                            <div  style="float: right">
                                <a  onclick="joinClub(this)" data-inviteurl="{{ path('api_clubs_invite') }}" data-clubid="" class="btn btn-sm btn-default inputClubId btn-joinClub">Join Now</a>
                            </div>
                        </div>
                        <ul class="board-thumbs" id="boardMember">
                            <li>
                            <a class="gender" href="#" title="trandemo"></a>
                            </li>

                        </ul>
                        <div id="applicantsWrap" style="display: none;">
                            <div><b>Applicants</b></div>
                        <ul class="board-thumbs" id="boardApplicants">

                        </ul>
                        </div>
                    </div>
                    <div id="clubViewMessage" style="display: none;">
                    </div>
                    <div class="modal-club-action" style="display: none">
                        <a onclick="editClub(this)" data-clubid="" data-editclub-url="{{ path('api_clubs_get') }}" class="btn btn-success inputClubId btn-editClub">Edit</a>
                        <a onclick="deleteClub(this)" data-clubid="" data-deleteclub-url="{{ path('api_clubs_delete') }}" class="btn btn-danger inputClubId btn-deleteClub">Delete</a>
                    </div>
                </div>
                <div class="clubDiscus" style="display: none;">
                    <div class="row">
                        <form  action="{{ path('api_messages_add') }}" id="frmAddDiscuss">
                            <input type="hidden" class="form-control inputClubIdForm" name="club_id" value="">
                            <input type="hidden" class="form-control" name="text" value="Hi, Welcome to club discussion.">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" id="discuss_name">
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-default pointer" id="btnAddnewDiscuss"><i class="fa fa-plus-circle"></i> Add New</button>
                        </div>
                        </form>
                    </div>
                    <div id="clubDiscusContent">

                    </div>
                </div>

                <div id="clubDiscussion" class="text-center" style="display: none">
                    <a class="btn btn-primary btn-lg" onclick="openDiscuss(this)"> Club Discussion <span class="numberDiscussion"></span></a>
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/template" id="clubDiscussTemplate">
    <div class="row chatClubItem js-group-message"  data-message="<%= message %>" data-club_id="<%= club_id %>" data-participants="<%= participants %>" data-chat_id="<%= chat_id %>" >
        <div class="col-sm-2">
            <a class="avatar" title="<%=user.username%>">
                <% if (!_.isNull(user.photo) && user.photo.length>0) { %>
                <img src="<%=user.photo.replace('/origin/', '/medium/')%>" alt="<%=user.username%>" />
                <% } else { %>
                <img class="gender <% if (user.gender) { %><%=user.gender.toLowerCase()%><% } %>" src="{{ asset('static/images/1x1px.png') }}" />
                <% } %>
            </a>
        </div>
        <div class="col-sm-6">
        <div class="font-weight-bold chatClubSubject"><%= subject %></div>
        <div class="chatClubMessage"><%= message %></div>
    </div>
    <div class="col-sm-4 text-right"><%= date_created.date.substring(0, 10) %></div>
    </div>
</script>
<script>
    function openDiscuss(obj){
        var active = $(obj).hasClass('btnActive');

        if(active){
            $(obj).removeClass('btnActive');
            $('#viewClubModal .clubModalContent .clubInfo').show();
            $('#viewClubModal .clubModalContent .clubDiscus').hide();
            $(obj).text('Club Discussion');
        }else{
            $(obj).addClass('btnActive');
            $('#viewClubModal .clubModalContent .clubInfo').hide();
            $('#viewClubModal .clubModalContent .clubDiscus').show();
            $(obj).text('Back');
        }
    }
    require(['jquery'],
        function($) {
            $('#frmAddDiscuss').submit(function (e) {
                var $loader = $('#viewClubModal .ajax-loader');
                e.preventDefault();
                var frm_url = $(this).attr('action')+'?'+$(this).serialize();
                // console.log(frm_url);
                $loader.show();
                $.getJSON(frm_url, {
                    token: ChatApp.userToken
                }, function(json) {
                    $loader.hide();
                    console.log(json);
                    var $clubDiscusContent = $('#clubDiscusContent');
                    var $clubDiscussTemplate = _.template($('#clubDiscussTemplate').html());

                    if(json.success){
                        $.iGrowl({
                            type: 'success-sat',
                            message: 'Your discussion has been added.',
                            icon: 'fa-check-circle-o',
                            delay:3000
                        });


                        var data = json.data.message;

                        var item = {}
                        item.club_id = data.club_id;
                        item.chat_id = data.chat_id;
                        item.subject = $('#discuss_name').val();
                        item.message = data.message;
                        item.date_created = data.date_created;
                        participants_string = ChatApp.userUsername + ',' + data.to_usernames.join(',');

                        item.participants = participants_string;
                        item.user = {
                            username: ChatApp.userUsername,
                            photo:ChatApp.userPhoto,
                            gender:ChatApp.userGender,
                        }

                        var chatItem = $clubDiscussTemplate($.extend(chatItem, item));
                        $clubDiscusContent.append(chatItem);


                    }else{
                        $.iGrowl({
                            type: 'error-sat',
                            message: json.data.message,
                            icon: 'fa-times-circle-o',
                            delay:5000
                        })
                    }

                    $('#discuss_name').val('');
                });

            });
        });

</script>
{#{% endapply %}#}